Package: apk-builder
Version: 2.1.9
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Nguyen Duy Truong <skul9x@gmail.com>
Description: Cong cu build, cai dat va tu dong hoa file APK Android.
 Ho tro stream logcat, xuat file log va virtualized scrolling cao cap.
